
body{
    font-family: 'Gantari', sans-serif;
    margin: 0%;
    
}    
.header-section{
    background-image: linear-gradient(rgba(128, 128, 128, 0.281),black),url(IMG_6361+.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    font-weight: bolder;
    font-size: 70px;
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 8%;
}
p{
    text-align: center;
    margin-top: 0;
    font-size: 20px;
}
.donate-button{
    text-decoration: none;
    background-color: yellow;
    font-weight: 700;
    padding: 15px 35px;
    color: black;
    border-radius: 5px;
}
.donate-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.button{
    text-decoration: none;
    font-size: 30px;
    background-color: whitesmoke; 
    padding: 25px;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    color: gray;
}
.button-200{
    background-color: rgb(241, 212, 212);
    border: 2px solid red;
    margin: 5px;
    border-radius: 5px;
    padding: 25px;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    color: red;
}
.button-parent{
    display: flex;
    justify-content: center;
    align-items: center;  
     
}
.input-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#input{
    border: none;
    text-underline-position: below;
    width: 50%;
    background-color: #fcfcfc;
    border: 0;
    border-bottom: 2px solid lightgrey;
    padding: 0;
    margin-bottom: 30px;
}
label{
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(177, 177, 177);
}
.section-2{
    padding-bottom: 80px;
}
.donate-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
  
    
   
}
.food-parent{
    background-color: rgb(245, 212, 217);
    padding-top: 6%;
    padding-bottom: 4%;
    padding-right: 6%;
    padding-left: 2%;
    border-radius: 5px;
    width: 50%;
    margin: 1%;
}
.shelter-parent{
    background-color: rgb(195, 232, 245);
    padding-top: 6%;
    padding-bottom: 4%;
    padding-right: 6%;
    padding-left: 2%;
    border-radius: 5px;
    width: 50%;
    margin: 1%;
}
.education-parent{
    background-color: rgb(191, 247, 191);
    padding-top: 6%;
    padding-bottom: 4%;
    padding-right: 6%;
    padding-left: 2%;
    border-radius: 5px;
    width: 50%;
    margin: 1%;
}
img{
    width: 50px;
    height: 50px;
}
.facilities{
    text-align: left;
}
.email{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.email{
    border-radius: 4px;
    background-color: bisque;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 4%;
    margin-bottom: 8%;
    margin-left: 25%;
    margin-right: 25%;
}
input{
    border: none;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 40px;  
}
button{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: tomato;
}
.footer{
    text-align: center;
    background-color: black;
    padding-bottom: 2%;
    padding-top: 1%;
    color: orangered;
}
.be-humble{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.footer-paragraph{
    color: white;
    font-size: 15px;
}
